  <section class="contain" id="clearfix">

    <header id="about">
        <p>Say Hi</p>
    </header>

    <section>
        <form id="form">
            Name:<br>
            <input type="text" name="name"><br>
            Email: <br>
            <input type="text" name="email"><br>
            Message: <br>
            <input type="text" name="message"><br><br>
            <input type="submit" value="Submit">
        </form>
    </section>
</section>
